{
    "presets": [
        "@babel/preset-flow",
        [
            "@babel/preset-env",
            {
                "debug": false,
                "targets": {
                    "browsers": [
                        "last 3 versions"
                    ]
                }
            }
        ]
    ],
    "plugins": ["@babel/plugin-proposal-class-properties"]
}
