{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "no-unused-vars": 0,
    "space-before-generic-bracket": 0,
    "flowtype/generic-spacing": 0
  }
}
